<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name*" %>
    <%= f.text_field :name %>
  </div><br/>
  <div class="field">
    <%= f.label :email, "Email*" %>
    <%= f.text_field :email %>
  </div><br/>

  <div class="field private">
    <%= f.label :private, "Mark email as private" %>
    <%= f.check_box :private %>
  </div><br/>
  <div class="field">
    <%= f.label :tickets, "Tickets*" %>
    <%= f.select :tickets, [['1'],['2'],['3'], ['4'] , ['5'], ['6'],['7'],['8'],['9'],['10']] %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Register", :class => "btn_onward" %>
  </div>
<% end %>
