<h1>About RubyCamp</h1>

<p>
  The Ruby Community in Delhi NCR presents RubyCamp Delhi NCR 2014 on June 28th in Gurgaon, India. This is a great opportunity for Ruby enthusiasts to brainstorm, network and learn about the latest technology changes first-hand.  
</p>
<P>
  This is the first edition of RubyCamp to be hosted in Delhi NCR. Hopefully, the camp will become an annual event in the future, contributing to the growth of the community.
</P>
<p style="boarder:2px">
  Delhi NCR Ruby User Group : <%= link_to "Meetup Group", "http://www.meetup.com/Delhi-NCR-Ruby-Meetup-Group/", :target => "_blank" %> <%= link_to "Twitter", "https://twitter.com/delhincrruby", :target => "_blank" %> <%= link_to "Mailing List", "https://groups.google.com/forum/#!forum/delhi-rug", :target => "_blank" %>
</p>

<h2>Camp Organizing Team</h2>
</br>
<li><%= link_to "Ajey Gore", "https://twitter.com/AjeyGore", :target => "_blank" %></li>
<li><%= link_to "Abhishek Nalwaya", "https://twitter.com/nalwayaabhishek", :target => "_blank" %></li>
<li><%= link_to "Waseem Ahmad", "https://twitter.com/_waseem", :target => "_blank" %></li>
<li><%= link_to "Rahul Roy", "https://twitter.com/iamrahulroy", :target => "_blank" %></li>
<li><%= link_to "Pravin Mishra", "https://twitter.com/pravinmishra88", :target => "_blank" %></li>
