
<h1>Speakers</h1>

<!-- <div id= "submit_talk" align="center"><%= link_to "Submit Your Talk", "https://docs.google.com/forms/d/1ziU9b4SwhM1HJthETKGkCQ4djOQyyerhenBs2Tv98g4/viewform?edit_requested=true", target: "_blank"%></div> -->

<div id="main" class="speakerList">
  <div id="main1" class="speaker">
    <div id="image" class="image"><%= image_tag("https://fedoraproject.org/w/uploads/3/34/Tuxdna.jpg")%></div>
    <div class="title"><%= link_to "Saleem Ansari", "https://twitter.com/tuxdna", :target => "_blank" %></div>
    <div id="data" class="info">
      Saleem is a proponent of open source software and a GNU/Linux enthusiast. He has been dabbling and working with dynamic programming languages since his college days. He has worked with Ruby, Scala, Python, Perl and Bash both as a hobbyist and a professional. He was an active contributor to the Fedora project and worked at Red Hat as a software engineer. His interesets include information retrieval tools such as Apache Lucene, Apache Solr and Elasticsearch.
    </div>
  </div>

  <div id="main1" class="speaker">
    <div id="image" class="image"><%= image_tag("naveen_goswami.jpg")%></div>
    <div class="title"><%= link_to "Naveen Goswami", "https://twitter.com/nannu2308", :target => "_blank" %></div>
    <div id="data" class="info">Naveen is a programmer geek with huge interest in programming languages and cloud computing. He is well versed in architecture and designing of High Volume Distributed system. At shephertz, I am executing complete product development life cycle (SDLC)  of App42 PaaS with the excellence in Architecture Design and Coding using Java/Spring/Ruby/Nodejs.
    </div>
  </div>
  </br>

  <div id="main1" class="speaker">
    <div id="image" class="image"><%= image_tag("16b5b0b.jpg")%></div>
    <div class="title"><%= link_to "Ujjwal Thaakar", "https://twitter.com/Ujjwal_Thaakar", :target => "_blank" %></div>
    <div id="data" class="info">Ujjwal is a 21 year old programmer from Gujarat. He just finished his B.Tech in information technology and is working full time on his startup - www.espress.in where he is building a collaborative self publishing platform. He has worked on Ruby on Rails twice as part of Google Summer of Code.</div>
  </div>
  <div id="main1" class="speaker">
    <div id="image" class="image"><%= image_tag("AbhishekNalwaya.jpg")%></div>
    <div class="title"><%= link_to "Abhishek Nalwaya", "https://twitter.com/nalwayaabhishek", :target => "_blank" %></div>
    <div id="data" class="info">Abhishek is the author of the book, RubyMotion iOS Development Essentials and Rhomobile Beginner's Guide published by Packt publications. He is a Technology enthusiast and can talk in Ruby, JavaScript, Objective C and Java. He occasionally speak at conferences such as RubyMotion Inspect Brussels, RubyConfIndia2012, RubyConfIndia2013, BeingAgile and many more.</div>
  </div>
</div>
